@use '../../../root' as root
/*
  The container element for a standard group of navigational
  links or resources
  */
.standard-group-cnt
  display: flex
  flex-direction: row
  align-items: center

  & > a
    display: flex
    flex-direction: row
    align-items: center
    margin: 0 8px
    text-decoration: none

  & > a > p
    font-size: root.$smallTextSize

  & > a > svg, p
    color: root.$royalDarkBlue

.standard-group-cnt

  /*
    The container for the online banking link
    */
  .online-bank-a-cnt
    font-size: root.$smallTextSize
    color: root.$yellowFreshLight